/*Mi primer hoja de estilos*/

*{/*selector universal*/
    background-color: white;
}

h1{
    font-size: 50px;
    background-color: black;
    color: white;
}

p{
    font-size: 24px;
}

#centrado{
    text-align: center;
}

p.tachado{
    text-decoration:line-through;
}

p.negrita{
    font-weight: bold;
}

p.green{
    color:green;
}

main p{
    font-size: 50px;
}

section>p{
    font-size: 75px;
}

h1+p{
    font-size: 100px;
}

p~p{
    color: red;
}

input[name="AP"]{
    font-size: 50px;
}

label[for="nombre"]{
    font-size: 50px;
}

a:link{
    color: pink;
}

a:visited{
    color: green;
}

a:hover{
    color: white;
    background-color: black;
    font-size: 250px;
}

a:active{
    color: orangered;
}

/* Buscar la propiedad de display*/

p::first-line{
    color: rgb(31, 219, 31);
    font-variant: small-caps;
}

p::first-letter{
    color: blue;
    font-size: 60px;
}
